@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: gold;
  font-family: 'Montserrat', sans-serif;
}

.banner {
  object-fit: contain;
  height: 400px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 075)
    ),
    url('https://c1.wallpaperflare.com/preview/340/779/751/background-cubes-choice-one.jpg');
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25;
}
[class*=carousel] {
  height: 170px;

}

.priceChange{
  position: absolute;
  top: 30%;
  margin-left: 20px;
  
}

.coinPrice{
  position: absolute;
  top: 62%;
  left: 102px;
}
#outlined-basic{
  color: white;
  font-size: 20px;
}

.rocket-vote{
  transition: all 1.4s ease-in-out;
  scale:1;
  cursor: pointer;
}

.rocket-vote:hover{
  scale:1.5;
  color: brown;
}